@charset "utf-8";

/* initialization
------------------------------*/
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,tfoot,thead,time,tr,th,td,ul,var,video {margin: 0; padding: 0; outline: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {display: block;}
abbr[title],dfn[title] {border-bottom: 1px dotted; cursor: help;} address,caption,cite,code,dfn,th,var {font-style: normal; font-weight: normal;}
body {line-height: 1; -webkit-text-size-adjust: 100%; font-size: small;} blockquote,q {quotes: none;} blockquote:before,blockquote:after,q:before,q:after {content: ''; content: none;}
del {text-decoration: line-through;} ins {background-color: #ff9; color: #000; text-decoration: none;} mark {background-color: #ff0; color: #000;}
table {border-collapse: collapse; border-spacing: 0;} caption,th {text-align: left;} fieldset,img {border: 0; vertical-align: top;} img {-ms-interpolation-mode: bicubic;} ol,ul {list-style: none;}
input,textarea,select {font-family: inherit; font-weight: inherit; border-radius: 0;} label,select,[type="checkbox"],[type="submit"] {cursor: pointer;} hr {display: block; height: 1px; border: 0; border-top: 1px solid #000;} h1,h2,h3,h4,h5,h6 {font-size: 100%;}

/* clearfix */
.clearfix {zoom: 1;}
.clearfix:after {content: ""; display: block; clear: both;}

/* リンク */
/*
[href]:link, [href]:active, [href]:visited {text-decoration: underline; color: #0000ff;}
[href]:hover, [href]:focus {text-decoration: underline; color: #ff0000;}
*/
[href] {text-decoration: underline; color: #0000ff;}
[href]:hover,
[type="submit"]:hover {
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	-ms-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	opacity: 0.7;
	filter: alpha(opacity=70);
	zoom: 1;
}

/* 全般 */
body {
	background: #fff;
	min-width: 1000px;
	line-height: 1.7;
/*
	font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'MS PGothic', sans-serif;
*/
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 90%;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 1000px;
	margin: 0 auto;
}

.sp {display: none;}

@media screen and (max-width: 767px) {
	[href]:hover,
	[type="submit"]:hover {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		-ms-transition: none;
		transition: none;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	body {
		overflow-x: hidden;
		min-width: auto;
		font-size: 14px;
	}
	.container {
		width: auto;
	}
	main {
		padding: 0 10px;
	}

	.pc {display: none;}
	.sp {display: block;}
	br.sp {display: inline;}
	img.sp {display: inline-block;}
	table.sp {display: table;}
}

/* ヘッダ
------------------------------*/
