@charset "utf-8";
body {
    background: #fff;
    min-width: 1000px;
    line-height: 1.7;
/*
    font-family: "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'MS PGothic', sans-serif;
*/
    font-family: "Roboto",sans-serif;
    font-size: 90%;
    color: #000;
    margin:0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 1000px;
    margin: 0 auto;
}

.sp {display: none;}
@media screen and (max-width: 767px) {
    [href]:hover,
    [type="submit"]:hover {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    body {
        overflow-x: hidden;
        min-width: 0;
        font-size: 14px;
    }
    .container {
        width: auto;
    }
    main {
        padding: 0 10px;
    }

    .pc {display: none;}
    .sp {display: block;}
    br.sp {display: inline;}
    img.sp {display: inline-block;}
    table.sp {display: table;}
}
@import "./foundation/_variables";
@import "./layout/_header";
@import "./layout/_menu";
@import "./layout/_main";
@import "./layout/_footer";

